@import "variables_and_mixins";

.js-in-place-editable {
  display: inline;
  a {
    color: $almost_black;
    text-decoration: none; 
    border-bottom: 1px dashed $almost_black;;
    &:hover { 
      color: $almost_black;
      text-decoration: none;
      background-color: #C9E5FF;
    }
  }

  form {
    display: none;

    .form-group {
      margin: 0;
      input { text-align: center; }
      label { display: none; }
    }
  }
}


