$almost_black: #333;
$gray:  #999;
$light-gray:   #f5f5f5;

$blue:       #2266AC;
$light-blue: lighten($blue, 20%);

$urgency-red:    red;
$urgency-yellow: #E2E233;
$urgency-green:  green;

$zone-make: #d9534f;
$zone-pack: #f0ad4e;
$zone-ship: #5bc0de;
$zone-fba:  #5bc0de;  // #A367DE
